*{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}




body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#container {

  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  font: 700 20px Inknut Antiqua, -apple-system, Roboto, Helvetica,
    sans-serif;
}


header {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

header img {
  aspect-ratio: 2.09;
  width: clamp(6rem, 9vw, 20rem);
}

.menu .left-menu {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu .right-menu {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  list-style: none;
}

.menu li a {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px 20px;
  text-decoration: none;
  color: #d0d0d0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.menu li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out; 
}

.menu li a:hover::after {
  width: 100%;
}
.menu li a:hover {
  color:#fff;
}

.left-menu {
  justify-content: flex-end;
}

.right-menu {
  justify-content: flex-start;
}

.mobile-menu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mobile-menu li{
  width: 100%;
  padding: 10px;
}

.mobile-menu li a{
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px 20px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#hideonDESKTOP{
  display: none;
}

                                                       /* page1 */


.page1 {
  justify-items: center;
}

.page1 video {
  width:100%;
  opacity: 0.35;
  height:100%;
  position: relative;
  object-fit: cover;
}

.page1 span{
  position: absolute;
  text-align: center;
  padding: 7% 0%
}
.page1 > span > h2{
  font-weight: bold;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:5vw;
    text-transform:uppercase;
    margin:0;
}
.page1 span p{
  width:700px;
  font-weight: Regular;
  font-size: 1.4vw;
  margin-block-end: 3%;
  width: 60%;
}

.page1 span button {
  text-transform: uppercase;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 3vw;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 1vw;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1vw;
}

.page1 span button a{
  color: #36395A;

}

.page1 span button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

                                                              /* page2 */

.page3{
  color: #000;
  display: grid;
  padding: 2% 0%;
  justify-items: center;
  overflow: hidden;
  background-color: #ededed;
  align-content: start;
}

.page3 span{
  justify-items: center;
}

.page3 h2{
  text-align: center;
  font-weight: bold;
  font-size: clamp(2rem ,3.5vw, 3.5vw);
  text-transform: uppercase;
  font-family: "Archivo Black",sans-serif;
  margin: 1rem;
}
.page3 p{
  text-align: center;
  font-size: clamp( 0.7rem ,1.2vw , 1.2rem);
  padding: 0% 10%;
  line-height: 1.5;
}

                                                      /* page4 */


.page4 {
  display: flex;
  justify-content: space-evenly;
  color: #000;
  padding: 1.2rem;
  background-color: #ededed;
}

.page4 p{
  margin: 0;
  padding: 1rem 0;
}

.info-box {
  text-align: center;
  padding: 1rem 0;
}

.info-box h3{
  font-weight: bold;
  font-family: "Archivo Black",sans-serif;
  margin: 0;
  padding: 0.5rem;

}

.info-box img {
  margin-bottom: 10px;
  filter: brightness(0%);
}

                                                                /* page7 */


.page7 h2{
  font-size: clamp(2rem ,3.5vw, 3.5vw);
  text-align: center;
  color: #fff;
  font-family: "Archivo Black",sans-serif;
  margin: 0;
  padding: 2rem 0;
}

.page7IMG{
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}


.page7IMG img{
  height: 25vw;
  width: 18vw;
  margin: 0;
  padding: 0;
  filter: grayscale(100%);
}


.container {
  display: flex;
}


.overlay {
  z-index: 99;
  top: 0;
  right: 0;
  padding: 0 0 0 0.5rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  writing-mode: vertical-rl;
}

.overlay h4 {

  margin: 0;
  font-size: clamp(8px ,14px, 20px);
  letter-spacing: 2px;
}

.overlay p {
  margin: 0;
  text-transform: uppercase;
  font-size: clamp( 1.3rem ,1.3vw , 1.3rem);
  font-weight: bold;
}

                                                          /* page8 */

.page8 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 6rem 0 0 0;
}
.Servicesimg {
  display:flex;
  justify-content: space-evenly;
}



.page8 img{
  height: 22vw;
  width: 40vw;
  margin: 0;
  padding: 0;
  border-radius: 1%;
}

.page8 h2{
  color: #fff;
  font-size:clamp(2rem ,3vw, 3vw);
  text-align: center;
  text-transform: capitalize;
  font-family: "Archivo Black",sans-serif;

}

.page8 .serviceCardtitle{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size:clamp( 1rem ,1.1vw , 1.1rem);
}

.Servicesimg .serviceCarddis{
  color: #bdbdbd;
  font-size:0.9rem;
}

.Servicesimg span{
  width:40vw;
  display:block;
  padding: 1.5rem 0;
}



                                                /* page9 */

.carusalcard{
  margin: 0 0 3.5rem;
}

.carusalcard p{
  color: black;
}

.unconditionedCard{
  background-color: #f2f2f2;
  border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    height: 244px;
    margin: 0 auto;
    max-width: 65ch;
    transition: all;
}

.conditionedCard{
  background-color: #f2f2f2;
  border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    height: 100%;
    margin: 0 auto;
    max-width: 65ch;
    transition: all;  
}

.slick-slide > div {
  margin: 0 10px;
  display: flex;

}

.User-Rating-Date{
    align-items: center;
    display: flex;
    gap: 1rem;
    
}

.reviewer__container{
  border-radius: 100%;
  position: relative
}
.reviewer__img {
  border-radius: 100%
}

.review{
  margin: 0 auto;
  width: 90%;
    
}

.review p {
  font-size: 1rem;
  font-weight: 350;
  margin: 0;
  
}


.google-rating {
  background-color: #f2f2f2; 
  border-radius: 6px; 
  padding: 16px;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 68%;
  margin: 5rem auto 2rem;
  justify-content: space-between;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.rating-container {
  display: flex;
  flex-direction: column;
}

.Review_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.google {
  font-size: 21.5px;
  font-weight: bold;
  color: #000;
  
}

.rating-text {
  font-size: 20px;
  font-weight: bold;
  margin-right: 8px;
}

.stars {
  color: #f0b908; /* Star color */
  font-size: 20px;
}

.reviews-link {
  font-size: 12px;
  text-decoration: none;
  color:#797f8c;
  margin: 0;
}


.footer h6,a{
  color: #fff;
}

.page12sections {
  color: #fff;
  text-align:start;
}
.page12contactus {
  color: #fff;
  text-align:start;
}

.page12sections > span > p{
  margin: 5px 0;
}

.page12contactus > span > p{
  margin: 5px 0;
  text-decoration: none;
}

a{
  text-decoration: none;
}

                                              /* page10 */

.page10 div{
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
  }
.page10 h1 {
  color:#fff;
  font-size:clamp(2rem ,3.5vw, 3.5vw);
  margin:1rem;
}

.page10 iframe{
  max-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

                                              /* facilities */

.Facilites {
    background-color: #333;
    padding: 4vw 16vw;
    min-height: 100vh;
  }
.Facilites > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Facilites-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.Facilites-card-title {
  color: #333; /* green color */
  font-size: 18px;
  font-weight:bold;
  margin: 0;
}

.Facilites-card-text {
  color: #555;
  font-size: 14px;
}


                                              /* contact us */

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 100px;
}

.formbutton {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}



.followus img {
  height: 1.6rem;
}








.mobilegoogle-rating {
  display: none;
}
.carusalcardmobile {
  display: none;
}